affine==2.3.0
appdirs==1.4.3
attrs==19.3.0
aws-requests-auth==0.4.2
backcall==0.1.0
beautifulsoup4==4.8.2
bleach==3.1.4
boto3==1.12.36
botocore==1.15.36
bs4==0.0.1
certifi==2019.11.28
chardet==3.0.4
click==7.1.1
click-plugins==1.1.1
cligj==0.5.0
cycler==0.10.0
decorator==4.4.2
defusedxml==0.6.0
Deprecated==1.2.7
descartes==1.1.0
docutils==0.15.2
entrypoints==0.3
esda==2.2.1
Fiona==1.8.13.post1
Flask==1.1.2
Flask-Cors==3.0.8
Flask-JSON==0.3.4
GDAL==2.4.2
geopandas==0.7.0
giddy==2.3.0
idna==2.9
importlib-metadata==1.6.0
inequality==1.0.0
ipykernel==5.2.0
ipython==7.13.0
ipython-genutils==0.2.0
itsdangerous==1.1.0
jedi==0.16.0
Jinja2==2.11.1
jmespath==0.9.5
joblib==0.14.1
json5==0.9.4
jsonlines==1.2.0
jsonschema==3.2.0
jupyter-client==6.1.2
jupyter-core==4.6.3
jupyterlab==2.0.1
jupyterlab-server==1.0.7
kiwisolver==1.2.0
libpysal==4.2.2
llvmlite==0.31.0
mapclassify==2.2.0
MarkupSafe==1.1.1
matplotlib==3.2.1
mgwr==2.1.1
mistune==2.0.3
mpmath==1.1.0
munch==2.5.0
nbconvert==5.6.1
nbformat==5.0.5
notebook==6.0.3
numba==0.48.0
numpy==1.18.2
packaging==20.3
pandas==1.0.3
pandocfilters==1.4.2
parso==0.6.2
patsy==0.5.1
pexpect==4.8.0
pickleshare==0.7.5
pkg-resources==0.0.0
pointpats==2.1.0
prometheus-client==0.7.1
prompt-toolkit==3.0.5
psycopg2-binary==2.8.4
ptyprocess==0.6.0
Pygments==2.6.1
pyparsing==2.4.6
pyproj==2.6.0
pyrsistent==0.16.0
pysal==2.2.0
python-dateutil==2.8.0
pytz==2019.3
pyzmq==19.0.0
quantecon==0.4.6
quilt3==3.1.8
rasterio==1.1.3
rasterstats==0.14.0
requests==2.23.0
requests-futures==1.0.0
Rtree==0.8.3
ruamel.yaml==0.16.10
ruamel.yaml.clib==0.2.0
s3transfer==0.3.3
scikit-learn==0.22.2.post1
scipy==1.4.1
seaborn==0.10.0
segregation==1.2.0
Send2Trash==1.5.0
Shapely==1.7.0
simplejson==3.17.0
six==1.14.0
snuggs==1.4.7
soupsieve==2.0
spaghetti==1.4.2.post2
spglm==1.0.7
spint==1.0.6
splot==1.1.3
spreg==1.1.1
spvcm==0.3.0
SQLAlchemy==1.3.15
statsmodels==0.11.1
sympy==1.5.1
terminado==0.8.3
testpath==0.4.4
tobler==0.2.2
tornado==6.0.4
tqdm==4.45.0
traitlets==4.3.3
urllib3==1.24.3
watermark==2.0.2
wcwidth==0.1.9
webencodings==0.5.1
Werkzeug==1.0.1
wrapt==1.12.1
xlrd==1.2.0
zipp==3.1.0
